/* 全局样式 */
body {
    background-color: #f6f6f6;
}
/* 两栏布局 */
.comm-left {
    background-color: #fff;
    padding: 0.3rem;
    border-radius: 0.3rem;
    border-bottom: 1px solid #eee;
}
.comm-right {
    background-color: #fff;
    padding: 0.3rem;
    margin: 0 0.4rem;
    border-radius: 0.3rem;
    border-bottom: 1px solid #eee;
}
.comm-main {
    margin-top: 1rem;
}

 /* 圆角外框 */
.comm-box {
    background-color: #fff;
    margin: 0.2rem;
    padding: 0.5rem;
    border-radius: 0.3rem;
    border: 1px solid #eee;
}
